img {
    width: 200px;
    height: 200px;
}

.color-title{
    font-weight: normal;
}

#red{
    color: red;
}

#blue{
    color: #20acf4;
}

#green{
    color: green;
}

#orange{
    color: orange;
}

#yellow{
    color: yellow;
}

.center{
    text-align: center;
}

h1{
    
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-size: 40pt;
    font-style: normal;
}

#cursive{
   font-family: 'Courier New', Courier, monospace; 
}

